*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    background-color: #08080a7c;
}

.bg{
    display:block;
    align-content: center;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    height:50%
}
.bgimg img{
    height:300px;
    width:300px;
}


nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    background-color: #08080abe;
    height:50px;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    width:40%;
}
.nav-links a{
    text-decoration: none;
    color:#ffff
}
.nav-links ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.nav-links li{
    display:inline;
}

.box img{
    height:120px;
    width:120px;
    border-radius:50%;
}
.box{
    width:450px;
    background:#08080a7c;
    padding:40px;
    text-align:center;
    color:#ffff;
    margin:auto;
    margin-top:5%;
    border-radius:3%
}

.box h1{
    font-size:40px;
    letter-spacing:3px;
    font-weight:100;
}

.box h5{
    font-size:20px;
    letter-spacing: 3px;
    font-weight:100;
}

.nav-button{
    background-color: #08080a00;
    border:none;
    text-decoration:none;
    display:flex;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    transition-duration:0.7s;
    margin:4px 2px;
    padding:13px 30px
}

.nav-button:hover{
    background-color: #08080abc;

}
